body{
    padding: 100px;
}

.submit-area{
    padding: 40px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px gray;
}

#login-area {
    width: 100%;
}

#transaction-area {
    display: none;
}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.deposit {
    
    background-color: slateblue;
}
.withdraw {
    background-color: lightseagreen;
}

.balance {
    background-color: lightskyblue;
}

@media (max-width: 600px){
    h1 {
        font-size: 20px;
        }

    h5, h4 {
        font-size: 20px;
    }
    
}